/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');
@import url('izitoast/dist/css/iziToast.min.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@import url('./reset.css');

.iziToast-texts {
  width: 322px;
}

.iziToast-message {
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 150%;
}

.container {
  width: 1440px;
  padding-top: 36px;
  padding-left: 156px;
  padding-right: 156px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  width: 371px;
  display: flex;
  margin: 0 auto 32px auto;
  justify-content: center;
}

.search-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  letter-spacing: 0.04em;
  color: #808080;
  background-color: #ffffff;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-input:hover {
  border-color: #000000;
}

.search-input:focus {
  border-color: #4e75ff;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 91px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 12px;
}

.gallery-card {
  width: calc((100% - 48px) / 3);
  height: 200px;
  border: 1px solid #808080;
}

.image-normal {
  width: 360px;
  height: 152px;
  object-fit: cover;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}

.image-text {
  display: flex;
  padding: 4px 25px 4px 20px;
  justify-content: space-between;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  background-color: #ffffff;
}

.image-text-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4px;
}

.image-text-item .key {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  color: #2e2f42;
}

.image-text-item .value {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #2e2f42;
}

.load-more-btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 91px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more-btn:hover {
  background-color: #6c8cff;
}

/* preloader */

.preloader-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader {
  position: relative;
  width: 100px;
  height: 100px;
  perspective: 375px;
}
.loading-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.loading-circle-one {
  left: 0;
  top: 0;
  border-bottom: 8px solid #00deff;
  animation: loading-circle-one 1200ms infinite linear;
}
.loading-circle-two {
  right: 0;
  top: 0;
  border-right: 8px solid #00deff;
  animation: loading-circle-two 1200ms infinite linear;
}
.loading-circle-three {
  right: 0;
  bottom: 0;
  border-top: 8px solid #00deff;
  animation: loading-circle-three 1200ms infinite linear;
}
@keyframes loading-circle-one {
  0% {
    transform: rotateX(40deg) rotateY(-40deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(40deg) rotateY(-40deg) rotateZ(360deg);
  }
}
@keyframes loading-circle-two {
  0% {
    transform: rotateX(50deg) rotateY(15deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(15deg) rotateZ(360deg);
  }
}
@keyframes loading-circle-three {
  0% {
    transform: rotateX(15deg) rotateY(50deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(15deg) rotateY(50deg) rotateZ(360deg);
  }
}

.is-visible {
  display: none;
}

.js-go-top {
  font-size: 48px;
  color: rgba(19, 18, 18, 0.2);
  position: fixed;
  right: 20px;
  top: 80%;
  transform: translateY(-50%);
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  border: 1px solid rgba(19, 18, 18, 0.2);
  background-color: rgba(19, 18, 18, 0.05);
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.js-go-top:hover {
  color: rgba(19, 18, 18, 0.5);
  border: 1px solid rgba(19, 18, 18, 0.5);
  background-color: rgba(19, 18, 18, 0.15);
}

.is-hidden {
  display: none;
}
